html {
  font-size: 18px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: firebrick;
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.small-screen {
  display: none;
}

.logo {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  justify-content: center;
}

.display {
  display: flex;
  width: 960px;
  height: auto;
  margin: 0.66rem 0;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.logo h2 {
  align-self: center;
  font-size: 1rem;
}

.banner {
  background: url(../images/moto.jpeg) no-repeat center center;
  background-size: cover;
  height: 25rem;
}

.arrivals-box {
    position: relative;
    top: 11rem;
    left: 5rem;
    font-family: Helvetica;
    width: 20rem;
    height: auto;
    background-color: black;
    color: white;
    font-weight: bold;
    padding-left: 3rem;
}

.arrivals-box h3 {
  font-size: 1rem;
  padding-top: 2rem;
  margin-bottom: 0.25rem;
}

.arrivals-box h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.images {
  display: flex;
  margin: 3rem 0;
  justify-content: space-around;
  color: white;
}

.img1 {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 30%;
}

.img2 {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 30%;
}

.img3 {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 30%;
  height: auto;
}

img.img {
  height: 9rem;
  margin: 2rem;
  object-fit: scale-down;
}

.images p {
  background-color: black;
  text-align: center;
  padding: 0.5rem 0;
}

.info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.location {
  width: 35%;
  height: auto;
}

.hours {
  width: 35%;
  height: auto;
}
#location-title {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
}

#hours-title {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
}

.hours {
  display: flex;
  flex-direction: column;
}

footer {
  height: 5rem;
  width: auto;
  background-color: black;
  color: white;
  width: 100%;
}

footer p {
  position: relative;
  top: 2.5rem;
  left: 5rem;
  width: 50%;
}

.text-centered {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .hidden-large {
    display: none;
  }
  .visible-large {
    display: flex;
  }
}

@media screen and (max-width: 1024px) {
  .arrivals, h3 {
    font-size: 0.9rem;
  }

  .arrivals h2 {
    font-size: 1.4rem;
  }
  .hidden-small {
    display: none;
  }
  .visible-small {
    display: block;
  }
  .img3 {
    display: none;
}

@media screen and (max-width: 470px) {
  .display h2 {
    display: none;
  }
  .display img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .img1 {
    width: 90%;
  }

  .img2 {
    display: none;
  }
  .banner {
    height: 15rem;
    width: auto;
  }
  .arrivals-box  {
    top: 6rem;
    left: 0;
    width: inherit;
    padding-left: 1rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .location {
    width: 90%;
    margin-bottom: 0.5rem;
  }
  .hours {
    width: 90%;
  }
}
